@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
}

.favorite {
  display: flex;
  height:90vh;
  max-width:900px;
  margin:0 auto;
  
}

.favorite__left {
  display: block;
  min-width:210px;
}

.favorite__left .fixed__layer {
  text-align: center;
  position:fixed;
}

.favorite__left img {
  margin-top:50px;
  width:200px;
  height:200px;
  border-radius:50%;
}

.favorite__left h2 {
  font-family: Montserrat;
}

.favorite__right {
  text-align:center;
  padding-top:10px;
}



@media only screen and (max-width: 600px)  {
  .favorite{
      flex-direction: column;
  }
  .favorite__left {
    width:100%;
  }
  .favorite__left .fixed__layer {
    position:relative;
  }
}